/* Theme variables */
$primary: #000a1c;
$secondary: #edf3ff;
$tertiary: #003996;

/* Links */
$link-hover-color: #bfc8d8;

/* Input Fields */
$input-border-radius: 0;
$input-color: $secondary;
$input-bg: transparent;
$input-border-color: $secondary;
$input-disabled-bg: transparent;
$input-disabled-opacity: 1;
$border-width: 2px;
